{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
    <div class="card card-inner">
        <ul class="nav nav-tabs nav-tabs-s1 px-4 py-2 my-2" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" data-bs-toggle="tab" href="#profile-tab-pane" aria-selected="true" role="tab">Add Treatment</a>
            </li>
           </ul>
        <div class="my-3">
            <form method="post">
                {% csrf_token %}
                {{ treatment_form.as_p }}
            
                 <!-- Treatment Medication Formset Table -->
    <h3>Treatment Medications</h3>
    <table class="table">
      <thead>
        <tr>
          <th>Medication</th>
          <th>Method of Administration</th>
          <th>Quantity</th>
          <th>Frequency</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for form in medication_formset %}
        <tr>
          <td>{{ form.medication }}</td>
          <td>{{ form.method_of_administration }}</td>
          <td>{{ form.quantity }}</td>
          <td>{{ form.frequency }}</td>
          <td>
            {% if form.instance.pk %}
              <button type="submit" class="btn btn-danger" onclick="removeRow(this)">Remove</button>
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

   


  <script>
    function removeRow(button) {
      // Remove the row corresponding to the delete button clicked
      var row = button.closest("tr");
      row.remove();
    }
  </script>


                <button type="submit" class="btn btn-md bg-primary my-3 text-white">Save</button>
            </form>
            
        </div>
    </div>
{% endblock %}