{% extends 'layouts/base.html' %}
{% load static %}

{% block nav %}
<div class="nk-block-head-content">
    <h3 class="nk-block-title page-title">Treatment List</h3>

</div><!-- .nk-block-head-content -->
<div class="nk-block-head-content">
    <div class="toggle-wrap nk-block-tools-toggle">
        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
        {% if request.user.role != 'Patient' %}
        <div class="toggle-expand-content" data-content="pageMenu">
            <ul class="nk-block-tools g-3 mx-1">
                <li><a href="{% url 'treatment_create' %}" class="btn btn-white btn-outline-light"><em class="icon ni ni-plus"></em><span>Add New</span></a></li>
            </ul>
        </div>
        {% endif %}
    </div><!-- .toggle-wrap -->
</div><!-- .nk-block-head-content -->
</div>
{% endblock %}
{% block body %}

<div class="nk-block nk-block-lg">
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">
                <thead>
                    <tr>
                        <th>
                            Title
                        </th>
                        <th>
                            Doctor/Clerk
                        </th>
                        <th>
                            Patient
                        </th>
                        <th>
                            Treatment Type
                        </th>
                        <th>
                            Updated On
                        </th>
                        <th></th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {%for treatment in treatments %}
                    {% if treatment.patient == user %}
                            <tr>
                                <td>{{treatment.title_}}</td>
                                <td>{{treatment.doctor}}</td>
                                <td>{{treatment.patient}}</td>
                                <td>{{treatment.treatment_type}}</td>
                                <td>{{treatment.updated}}</td>
                                <td class="tb-tnx-action">
                                    <div class="dropdown">
                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown" aria-expanded="false"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs" style="">
                                            <ul class="link-list-plain">
                                                <li><a href="{% url 'treatment_details' treatment.pk %}" class='px-1'>Details</a></li>
                                                {% if user.role != 'Patient' or 'Doctor' %} <li><a href="{% url 'treatment_update' treatment.pk %}" class='px-1'>Update</a></li>{% endif %}
                                                </ul>
                                        </div>
                                    </div>
                                </td>
                                
                            </tr>
                    {% elif user.role == 'Doctor' %}
                    <tr>
                        <td>{{treatment.title_}}</td>
                        <td>{{treatment.doctor}}</td>
                        <td>{{treatment.patient}}</td>
                        <td>{{treatment.treatment_type}}</td>
                        <td>{{treatment.updated}}</td>
                        <td class="tb-tnx-action">
                            <div class="dropdown">
                                <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown" aria-expanded="false"><em class="icon ni ni-more-h"></em></a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs" style="">
                                    <ul class="link-list-plain">
                                        <li><a href="{% url 'treatment_details' treatment.pk %}" class='px-1'>Details</a></li>
                                        <li><a href="{% url 'treatment_update' treatment.pk %}" class='px-1'>Update</a></li>
                                        </ul>
                                </div>
                            </div>
                        </td>
                        
                    </tr>
                           
                            {% endif %}
                              
                        

                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

