{% extends 'layouts/base.html' %}
{% load static %}
{% load custom_tags %}

{% block nav %}
<div class="nk-block-head-content">
    <h3 class="nk-block-title page-title">Patients List</h3>

</div><!-- .nk-block-head-content -->
<div class="nk-block-head-content">
    <div class="toggle-wrap nk-block-tools-toggle">
        <a href="#" class="btn btn-icon btn-trigger toggle-expand me-n1" data-target="pageMenu"><em class="icon ni ni-menu-alt-r"></em></a>
        <div class="toggle-expand-content" data-content="pageMenu">
            <ul class="nk-block-tools g-3">
                <li>
                    <div class="drodown">
                        <a href="#" class="dropdown-toggle btn btn-white btn-dim btn-outline-light" data-bs-toggle="dropdown" aria-expanded="false"><em class="d-none d-sm-inline icon ni ni-plus"></em><span><span class="d-none d-md-inline"></span>Add New</span><em class="dd-indc icon ni ni-chevron-right"></em></a>
                        <div class="dropdown-menu dropdown-menu-end" style="">
                            <ul class="link-list-opt no-bdr">
                                <!-- <li><a href="{% url 'test_create' %}"><span>Test</span></a></li> -->
                                <li><a href="{% url 'patient_create' %}"><span>Patient</span></a></li>
                                <!-- <li><a href="{% url 'treatment_create' %}"><span>Treatment</span></a></li> -->
                            </ul>
                        </div>
                    </div>
                </li>
                
            </ul>
        </div>
    </div><!-- .toggle-wrap -->
</div><!-- .nk-block-head-content -->
</div>
{% endblock %}
{% block body %}

<div class="nk-block nk-block-lg">
    <div class="card card-bordered card-preview">
        <div class="card-inner">
            <table class="datatable-init-export nowrap table" data-export-title="Export">
                <thead>
                    <tr>
                        <th>
                            Patient
                        </th>
                        <th>
                            Treatments
                        </th>
                        <th>
                            Tests
                        </th>
                        <th>
                            Access
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for approval in user.patients.all %}
                            <tr>
                                <td>{{approval.patient}}</td>
                                <td>{{approval.patient.treatments.count}}</td>
                                <td>{{approval.patient.tests.count }}</td>
                                <td>{% if approval.patient|has_access:user %}<em class="icon ni ni-check-circle-cut text-success"></em>{% else %}<em class="icon ni ni-cross-circle text-danger"></em>{% endif %}</td>
                                <td class="tb-tnx-action">
                                    {% if approval.patient|has_access:user %}
                                    <div class="dropdown">
                                        <a class="text-soft dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown" aria-expanded="false"><em class="icon ni ni-more-h"></em></a>
                                        <div class="dropdown-menu dropdown-menu-end dropdown-menu-xs" style="">
                                            <ul class="link-list-plain">
                                                <li><a href="{% url 'patient_treatments' approval.patient.pk %}" class='px-1'>View Treatments</a></li>
                                                <li><a href="{% url 'patient_tests' approval.patient.pk %}" class='px-1'>View Tests </a></li> 
                                            </ul>
                                        </div>
                                    </div>
                                    {% endif %}
                                </td>
                            </tr>
                  
                        

                    {% endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

