{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
<div class="nk-block-head">
     <div class="nk-block-between">
          <div class="nk-block-head-content">
               <h4 class="nk-block-title">Analytic Calculus</h4>
          </div>

     </div>
</div>
<div class="nk-block">
     <div class="card card-preview">
          <div id="accordion" class="accordion">
               <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse"
                         data-bs-target="#accordion-item-1" aria-expanded="false">
                         <h6 class="title">Calculate how consistently a patient adheres to a prescribed medication?</h6>
                         <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="accordion-item-1" data-bs-parent="#accordion" style="">
                         <div class="accordion-inner row gy-4">
                              <div class="col-lg-12">
                                   <div class="card h-100">
                                        <div class="card-inner">
                                             <div class="card-head">
                                                  <h5 class="card-title">Input Form</h5>
                                             </div>
                                             <form action="{% url 'stats_index' %}">
                                                  <div class="form-group">
                                                       <label class="form-label" for="cf-full-name">Select
                                                            Patients</label>
                                                       <select name="patient_id" class="form-select js-select2" data-search="on">
                                                            {% for patient in patients %}
                                                            <option value='{{patient.pk}}'>{{patient}}</option>
                                                            {% endfor %}
                                                       </select>
                                                  </div>
                                                  <div class="form-group">
                                                       <label class="form-label" for="cf-full-name">Select
                                                            Medication</label>
                                                       <select name= 'medication_id' class="form-select js-select2" data-search="on">
                                                            {% for medicine in medication %}
                                                            <option value='{{medicine.pk}}'>{{medicine}}</option>
                                                            {% endfor %}
                                                       </select>
                                                  </div>

                                                  <div class="form-group">
                                                       <button type="submit"
                                                            class="btn btn-lg btn-primary">Calculate</button>
                                                  </div>
                                                  {% if medical_adherence.status == 'Success' %}
                                                  <div class="example-alert">
                                                       <div class="alert alert-fill alert-success alert-icon">
                                                           <em class="icon ni ni-check-circle"></em> <strong>Results</strong>.Consistency {{ medical_adherence.value }}
                                                       </div>
                                                   </div>

                                                  {% elif medical_adherence.status == 'Failed'  %}
                                                   <div class="example-alert">
                                                       <div class="alert alert-fill alert-danger alert-dismissible alert-icon">
                                                           <em class="icon ni ni-cross-circle"></em> <strong>failed</strong>! {{ medical_adherence.value }} <button class="close" data-bs-dismiss="alert"></button>
                                                       </div>
                                                   </div>
                                                   {% endif%}
                                             </form>
                                        </div>
                                   </div>
                              </div>
                              <p>



                              </p>
                         </div>
                    </div>
               </div>
               <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse"
                         data-bs-target="#accordion-item-2" aria-expanded="false">
                         <h6 class="title">Calculate the average recovery time for a specific treatment type.</h6>
                         <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="accordion-item-2" data-bs-parent="#accordion">
                         <div class="accordion-inner">
                              <div class="col-lg-12">
                                   <div class="card h-100">
                                        <div class="card-inner">
                                             <div class="card-head">
                                                  <h5 class="card-title">Input Form</h5>
                                             </div>
                                             <form action="{% url 'stats_index' %}">
                                                  <div class="form-group">
                                                       <label class="form-label" for="cf-full-name">Select Treatment Type
                                   </label>
                                                       <select name="treatment_type" class="form-select js-select2" data-search="on">
                                                            {% for treatment_type in treatment_types %}
                                                            <option value='{{treatment_type}}'>{{treatment_type}}</option>
                                                            {% endfor %}
                                                       </select>
                                                  </div>
                                                  
                                                  <div class="form-group">
                                                       <button type="submit"
                                                            class="btn btn-lg btn-primary">Calculate</button>
                                                  </div>
                                                  {% if average_recovery_type.status == 'Success' %}
                                                  <div class="example-alert">
                                                       <div class="alert alert-fill alert-success alert-icon">
                                                           <em class="icon ni ni-check-circle"></em>{{ average_recovery_type.value }}
                                                       </div>
                                                   </div>

                                                  {% elif average_recovery_type.status == 'Failed'  %}
                                                   <div class="example-alert">
                                                       <div class="alert alert-fill alert-danger alert-dismissible alert-icon">
                                                           <em class="icon ni ni-cross-circle"></em> <strong>failed</strong>! {{ average_recovery_type.value }} <button class="close" data-bs-dismiss="alert"></button>
                                                       </div>
                                                   </div>
                                                   {% endif%}
                                             </form>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse"
                         data-bs-target="#accordion-item-3" aria-expanded="false">
                         <h6 class="title">Identify patients requiring frequent follow-ups based on a threshold.</h6>
                         <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="accordion-item-3" data-bs-parent="#accordion">
                         <div class="accordion-inner">
                              <div class="col-lg-12">
                                   <div class="card h-100">
                                        <div class="card-inner">
                                             <div class="card-head">
                                                  <h5 class="card-title">Input Form</h5>
                                             </div>
                                             <form action="{% url 'stats_index' %}">
                                                  <div class="form-group">
                                                       <label class="form-label" for="cf-full-name">Select
                                                            Follow Up Date</label>
                                                       <input type='date' name="follow_up_date" class="form-control">
                                                  </div>
                                                  <div class="form-group">
                                                       <label class="form-label" for="cf-full-name">Select
                                                            Medication</label>
                                                       <select name= 'medication_id' class="form-select js-select2" data-search="on">
                                                            {% for medicine in medication %}
                                                            <option value='{{medicine.pk}}'>{{medicine}}</option>
                                                            {% endfor %}
                                                       </select>
                                                  </div>

                                                  <div class="form-group">
                                                       <button type="submit"
                                                            class="btn btn-lg btn-primary">Calculate</button>
                                                  </div>
                                                  {% if medical_adherence.status == 'Success' %}
                                                  <div class="example-alert">
                                                       <div class="alert alert-fill alert-success alert-icon">
                                                           <em class="icon ni ni-check-circle"></em> <strong>Results</strong>.Consistency {{ medical_adherence.value }}
                                                       </div>
                                                   </div>

                                                  {% elif medical_adherence.status == 'Failed'  %}
                                                   <div class="example-alert">
                                                       <div class="alert alert-fill alert-danger alert-dismissible alert-icon">
                                                           <em class="icon ni ni-cross-circle"></em> <strong>failed</strong>! {{ medical_adherence.value }} <button class="close" data-bs-dismiss="alert"></button>
                                                       </div>
                                                   </div>
                                                   {% endif%}
                                             </form>
                                        </div>
                                   </div>
                              </div>
                              
                         </div>
                    </div>
               </div>
               <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse"
                         data-bs-target="#accordion-item-4" aria-expanded="false">
                         <h6 class="title">Evaluate the percentage of successful treatments for a specific type.</h6>
                         <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="accordion-item-4" data-bs-parent="#accordion">
                         <div class="accordion-inner">
                              <form action="{% url 'stats_index' %}">
                                   <div class="form-group">
                                        <label class="form-label" for="cf-full-name">Select Treatment Type
                    </label>
                                        <select name="type" class="form-select js-select2" data-search="on">
                                             {% for treatment_type in treatment_types %}
                                             <option value='{{treatment_type}}'>{{treatment_type}}</option>
                                             {% endfor %}
                                        </select>
                                   </div>
                                   
                                   <div class="form-group">
                                        <button type="submit"
                                             class="btn btn-lg btn-primary">Calculate</button>
                                   </div>
                                   {% if treatment_success_rate.status == 'Success' %}
                                   <div class="example-alert">
                                        <div class="alert alert-fill alert-success alert-icon">
                                            <em class="icon ni ni-check-circle"></em>{{ treatment_success_rate.value }}
                                        </div>
                                    </div>

                                   {% elif treatment_success_rate.status == 'Failed'  %}
                                    <div class="example-alert">
                                        <div class="alert alert-fill alert-danger alert-dismissible alert-icon">
                                            <em class="icon ni ni-cross-circle"></em> <strong>failed</strong>! {{ treatment_success_rate.value }} <button class="close" data-bs-dismiss="alert"></button>
                                        </div>
                                    </div>
                                    {% endif%}
                              </form>
                         </div>
                    </div>
               </div>
               <div class="accordion-item">
                    <a href="#" class="accordion-head collapsed" data-bs-toggle="collapse"
                         data-bs-target="#accordion-item-5" aria-expanded="false">
                         <h6 class="title">Identify the most reported symptoms for a specific treatment type.</h6>
                         <span class="accordion-icon"></span>
                    </a>
                    <div class="accordion-body collapse" id="accordion-item-5" data-bs-parent="#accordion">
                         <div class="accordion-inner">
                              <form action="{% url 'stats_index' %}">
                                   <div class="form-group">
                                        <label class="form-label" for="cf-full-name">Select Treatment Type
                    </label>
                                        <select name="treatment" class="form-select js-select2" data-search="on">
                                             {% for treatment_type in treatment_types %}
                                             <option value='{{treatment_type}}'>{{treatment_type}}</option>
                                             {% endfor %}
                                        </select>
                                   </div>
                                   
                                   <div class="form-group">
                                        <button type="submit"
                                             class="btn btn-lg btn-primary">Calculate</button>
                                   </div>
                                   {% if common_symptoms.status == 'Success' %}
                                   <div class="example-alert">
                                        <div class="alert alert-fill alert-success alert-icon">
                                            <em class="icon ni ni-check-circle"></em>{{ common_symptoms.value }}
                                        </div>
                                    </div>

                                   {% elif common_symptoms.status == 'Failed'  %}
                                    <div class="example-alert">
                                        <div class="alert alert-fill alert-danger alert-dismissible alert-icon">
                                            <em class="icon ni ni-cross-circle"></em> <strong>failed</strong>! {{ common_symptoms.value }} <button class="close" data-bs-dismiss="alert"></button>
                                        </div>
                                    </div>
                                    {% endif%}
                              </form>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <!-- .card -->
</div>
{% endblock %}