{% extends 'layouts/base.html' %}
{% load static %}

{% block body %}
{% if user.role == 'Doctor' %}
<div class="nk-content nk-content-fluid">
    <div class="container-xl wide-xl">
        <div class="nk-content-body">
            <div class="nk-block-head nk-page-head nk-block-head-sm">
                <div class="nk-block-head-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Welcome Back {{ request.user }}!</h3>
                    </div>
                </div>
            </div><!-- .nk-page-head -->
            <div class="nk-block">
                <div class="row g-gs">
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-primary">
                            <div class="card-inner">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-white text-opacity-75 mb-0">Patients</div>
                                    <a href="{% url 'patient_index' %}" class="link link-white">See All</a>
                                </div>
                                <h5 class="fs-1 text-white">{{ user.patients.count }} <small class="fs-3">patients</small></h5>
                                
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-warning is-dark">
                            <div class="card-inner">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-white text-opacity-75 mb-0">Treatments</div>
                                    
                                </div>
                                <h5 class="fs-1 text-white">{{ user.assessments.count}} <small class="fs-3">treatments</small></h5>
                                
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-info is-dark">
                            <div class="card-inner">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-white text-opacity-75 mb-0">Tests</div>
                                    
                                </div>
                                <h5 class="fs-1 text-white">{{ user.medical_tests.count }}<small class="fs-3"> tests</small></h5>
                                
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-danger is-dark">
                            <div class="card-inner">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-white text-opacity-75 mb-0">Approvals</div>
                                    
                                </div>
                                <h5 class="fs-1 text-white">{{ user.patients.count }} <small class="fs-3">approvals</small></h5>
                                
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->
          
        </div>
    </div>
</div>

{% elif user.role == 'Patient' %}
<div class="nk-content nk-content-fluid"></div>
    <div class="container-xl wide-xl">
        <div class="nk-content-body">
            <div class="nk-block-head nk-page-head nk-block-head-sm">
                <div class="nk-block-head-between">
                    <div class="nk-block-head-content">
                        <h3 class="nk-block-title page-title">Welcome Back {{ request.user }}!</h3>
                    </div>
                </div>
            </div><!-- .nk-page-head -->
            <div class="nk-block">
                <div class="row g-gs">
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-primary">
                            <div class="card-inner">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-white text-opacity-75 mb-0">Doctors</div>
                                    
                                </div>
                                <h5 class="fs-1 text-white">{{ user.doctors.count }} <small class="fs-3">Doctors</small></h5>
                                
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-warning is-dark">
                            <div class="card-inner">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-white text-opacity-75 mb-0">Treatments</div>
                                    
                                </div>
                                <h5 class="fs-1 text-white">{{ user.treatments.count}} <small class="fs-3">treatments</small></h5>
                                
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-info is-dark">
                            <div class="card-inner">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-white text-opacity-75 mb-0">Tests</div>
                                    
                                </div>
                                <h5 class="fs-1 text-white">{{ user.tests.count }}<small class="fs-3"> tests</small></h5>
                                
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                    <div class="col-sm-6 col-xxl-3">
                        <div class="card card-full bg-danger is-dark">
                            <div class="card-inner">
                                <div class="d-flex align-items-center justify-content-between mb-1">
                                    <div class="fs-6 text-white text-opacity-75 mb-0">Approvals</div>
                                    
                                </div>
                                <h5 class="fs-1 text-white">{{ user.doctors.count }} <small class="fs-3">approvals</small></h5>
                                
                            </div>
                        </div><!-- .card -->
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .nk-block -->
            <!-- .nk-block-head -->
            <!-- .nk-block -->
            <!-- .nk-block-head -->
            <!-- .nk-block -->
        </div>
    </div>
</div>
{% endif %}
{% endblock%}